* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }

body{
    font-family: 'Permanent Marker', cursive;
    background-image: url(/images/background.jpg);
    background-size: cover;
    
ul{
    list-style-type: none;
    
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}
}